@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(1,1,22);
  background: linear-gradient(90deg, rgba(1,1,22,1) 0%, rgba(4,13,112,1) 100%, rgba(15,26,140,1) 100%, rgba(4,4,113,1) 100%);
  font-family: 'Rubik';
}